CONFIG_ARM=y
CONFIG_TARGET_SQM4VF6EB=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/elnico/sqm4vf6eb/sqm4vf6eb.cfg,ENV_IS_IN_MMC"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_DM=y
CONFIG_NAND_VF610_NFC=y
CONFIG_SYS_NAND_BUSWIDTH_16BIT=y
CONFIG_SPI_FLASH=y
